@columns: 24;
@atom: (100% / @columns);

@break_bg: 1205px;
@break_lg: 1050px;
@break_md: 960px;
@break_ls: 907px;
@break_sm: 780px;
@break_xs: 560px;
@break_vs: 500px;

@offset: 20px;
@offset_bg: @offset;
@offset_lg: @offset;
@offset_md: @offset;
@offset_ls: @offset;
@offset_sm: @offset;
@offset_xs: @offset;
@offset_vs: @offset;

@offset_one_side: (@offset / 2);
@offset_bg_one_side: (@offset_bg / 2);
@offset_lg_one_side: (@offset_lg / 2);
@offset_md_one_side: (@offset_md / 2);
@offset_ls_one_side: (@offset_ls / 2);
@offset_sm_one_side: (@offset_sm / 2);
@offset_xs_one_side: (@offset_xs / 2);
@offset_vs_one_side: (@offset_vs / 2);

@fields: 30px;
@fields_bg: 20px;
@fields_lg: 20px;
@fields_md: 20px;
@fields_ls: 20px;
@fields_sm: 20px;
@fields_xs: 20px;
@fields_vs: 20px;

.wrapper-full(){
    padding-left: @fields;
    padding-right: @fields;

    .bg-block({
        padding-left: @fields_bg;
        padding-right: @fields_bg;
    });

    .lg-block({
        padding-left: @fields_lg;
        padding-right: @fields_lg;
    });

    .md-block({
        padding-left: @fields_md;
        padding-right: @fields_md;
    });

    .ls-block({
        padding-left: @fields_ls;
        padding-right: @fields_ls;
    });

    .sm-block({
        padding-left: @fields_sm;
        padding-right: @fields_sm;
    });

    .xs-block({
        padding-left: @fields_xs;
        padding-right: @fields_xs;
    });

    .vs-block({
        padding-left: @fields_vs;
        padding-right: @fields_vs;
    });
}

.row-offsets(){
    margin-left: (@offset_one_side * -1);
    margin-right: (@offset_one_side * -1);
}

.col-offsets(@type){
    @{type}-left: @offset_one_side;
    @{type}-right: @offset_one_side;
}

.wrapper(){
    max-width: 1210px;
    margin: 0 auto;
    .wrapper-full();
}

.row-flex(){
    display: flex;
    flex-wrap: wrap;
    .row-offsets();
}

.row-float(){
    .row-offsets();
    .clearfix();
}

.row-ib(){
    .row-offsets();
}

.col(){
    box-sizing: border-box;
    word-wrap: break-word;
    .col-offsets(margin);
}

.col-float(){
    float: left;
}

.col-ib(){
    display: inline-block;
    vertical-align: top;
}

.col-padding(){
    word-wrap: break-word;
    .col-offsets(padding);
}

.size(@n){
    @val: 100% / @columns * @n;
    width: ~"calc(@{val} - @{offset})";
}

.size-bg(@n){
    @val: 100% / @columns * @n;
    .bg(width, ~"calc(@{val} - @{offset_bg})");
}

.size-lg(@n){
    @val: 100% / @columns * @n;
    .lg(width, ~"calc(@{val} - @{offset_lg})");
}

.size-md(@n){
    @val: 100% / @columns * @n;
    .md(width, ~"calc(@{val} - @{offset_md})");
}

.size-ls(@n){
    @val: 100% / @columns * @n;
    .ls(width, ~"calc(@{val} - @{offset_ls})");
}

.size-sm(@n){
    @val: 100% / @columns * @n;
    .sm(width, ~"calc(@{val} - @{offset_sm})");
}

.size-xs(@n){
    @val: 100% / @columns * @n;
    .xs(width, ~"calc(@{val} - @{offset_xs})");
}

.size-vs(@n){
    @val: 100% / @columns * @n;
    .vs(width, ~"calc(@{val} - @{offset_vs})");
}

.shift(@n){
    @val: 100% / @columns * @n;
    margin-left: ~"calc(@{val} + @{offset_one_side})";
    margin-right: ~"calc(@{val} + @{offset_one_side})";
}

.shift-left(@n){
    @val: 100% / @columns * @n;
    margin-left: ~"calc(@{val} + @{offset_one_side})";
}

.shift-right(@n){
    @val: 100% / @columns * @n;
    margin-right: ~"calc(@{val} + @{offset_one_side})";
}

.shift-padding(@n){
    @val: 100% / @columns * @n;
    padding-left: ~"calc(@{val} + @{offset_one_side})";
    padding-right: ~"calc(@{val} + @{offset_one_side})";
}

.shift-padding-left(@n){
    @val: 100% / @columns * @n;
    padding-left: ~"calc(@{val} + @{offset_one_side})";
}

.shift-padding-right(@n){
    @val: 100% / @columns * @n;
    padding-right: ~"calc(@{val} + @{offset_one_side})";
}

.shift-bg(@n){
    @val: 100% / @columns * @n;
    .bg(margin-left, ~"calc(@{val} + @{offset_bg_one_side})");
    .bg(margin-right, ~"calc(@{val} + @{offset_bg_one_side})");
}

.shift-bg-left(@n){
    @val: 100% / @columns * @n;
    .bg(margin-left, ~"calc(@{val} + @{offset_bg_one_side})");
}

.shift-bg-right(@n){
    @val: 100% / @columns * @n;
    .bg(margin-right, ~"calc(@{val} + @{offset_bg_one_side})");
}

.shift-bg-padding(@n){
    @val: 100% / @columns * @n;
    .bg(padding-left, ~"calc(@{val} + @{offset_bg_one_side})");
    .bg(padding-right, ~"calc(@{val} + @{offset_bg_one_side})");
}

.shift-bg-padding-left(@n){
    @val: 100% / @columns * @n;
    .bg(padding-left, ~"calc(@{val} + @{offset_bg_one_side})");
}

.shift-bg-padding-right(@n){
    @val: 100% / @columns * @n;
    .bg(padding-right, ~"calc(@{val} + @{offset_bg_one_side})");
}

.shift-lg(@n){
    @val: 100% / @columns * @n;
    .lg(margin-left, ~"calc(@{val} + @{offset_lg_one_side})");
    .lg(margin-right, ~"calc(@{val} + @{offset_lg_one_side})");
}

.shift-lg-left(@n){
    @val: 100% / @columns * @n;
    .lg(margin-left, ~"calc(@{val} + @{offset_lg_one_side})");
}

.shift-lg-right(@n){
    @val: 100% / @columns * @n;
    .lg(margin-right, ~"calc(@{val} + @{offset_lg_one_side})");
}

.shift-lg-padding(@n){
    @val: 100% / @columns * @n;
    .lg(padding-left, ~"calc(@{val} + @{offset_lg_one_side})");
    .lg(padding-right, ~"calc(@{val} + @{offset_lg_one_side})");
}

.shift-lg-padding-left(@n){
    @val: 100% / @columns * @n;
    .lg(padding-left, ~"calc(@{val} + @{offset_lg_one_side})");
}

.shift-lg-padding-right(@n){
    @val: 100% / @columns * @n;
    .lg(padding-right, ~"calc(@{val} + @{offset_lg_one_side})");
}

.shift-md(@n){
    @val: 100% / @columns * @n;
    .md(margin-left, ~"calc(@{val} + @{offset_md_one_side})");
    .md(margin-right, ~"calc(@{val} + @{offset_md_one_side})");
}

.shift-md-left(@n){
    @val: 100% / @columns * @n;
    .md(margin-left, ~"calc(@{val} + @{offset_md_one_side})");
}

.shift-md-right(@n){
    @val: 100% / @columns * @n;
    .md(margin-right, ~"calc(@{val} + @{offset_md_one_side})");
}

.shift-md-padding(@n){
    @val: 100% / @columns * @n;
    .md(padding-left, ~"calc(@{val} + @{offset_md_one_side})");
    .md(padding-right, ~"calc(@{val} + @{offset_md_one_side})");
}

.shift-md-padding-left(@n){
    @val: 100% / @columns * @n;
    .md(padding-left, ~"calc(@{val} + @{offset_md_one_side})");
}

.shift-md-padding-right(@n){
    @val: 100% / @columns * @n;
    .md(padding-right, ~"calc(@{val} + @{offset_md_one_side})");
}

.shift-ls(@n){
    @val: 100% / @columns * @n;
    .ls(margin-left, ~"calc(@{val} + @{offset_ls_one_side})");
    .ls(margin-right, ~"calc(@{val} + @{offset_ls_one_side})");
}

.shift-ls-left(@n){
    @val: 100% / @columns * @n;
    .ls(margin-left, ~"calc(@{val} + @{offset_ls_one_side})");
}

.shift-ls-right(@n){
    @val: 100% / @columns * @n;
    .ls(margin-right, ~"calc(@{val} + @{offset_ls_one_side})");
}

.shift-ls-padding(@n){
    @val: 100% / @columns * @n;
    .ls(padding-left, ~"calc(@{val} + @{offset_ls_one_side})");
    .ls(padding-right, ~"calc(@{val} + @{offset_ls_one_side})");
}

.shift-ls-padding-left(@n){
    @val: 100% / @columns * @n;
    .ls(padding-left, ~"calc(@{val} + @{offset_ls_one_side})");
}

.shift-ls-padding-right(@n){
    @val: 100% / @columns * @n;
    .ls(padding-right, ~"calc(@{val} + @{offset_ls_one_side})");
}

.shift-sm(@n){
    @val: 100% / @columns * @n;
    .sm(margin-left, ~"calc(@{val} + @{offset_sm_one_side})");
    .sm(margin-right, ~"calc(@{val} + @{offset_sm_one_side})");
}

.shift-sm-left(@n){
    @val: 100% / @columns * @n;
    .sm(margin-left, ~"calc(@{val} + @{offset_sm_one_side})");
}

.shift-sm-right(@n){
    @val: 100% / @columns * @n;
    .sm(margin-right, ~"calc(@{val} + @{offset_sm_one_side})");
}

.shift-sm-padding(@n){
    @val: 100% / @columns * @n;
    .sm(padding-left, ~"calc(@{val} + @{offset_sm_one_side})");
    .sm(padding-right, ~"calc(@{val} + @{offset_sm_one_side})");
}

.shift-sm-padding-left(@n){
    @val: 100% / @columns * @n;
    .sm(padding-left, ~"calc(@{val} + @{offset_sm_one_side})");
}

.shift-sm-padding-right(@n){
    @val: 100% / @columns * @n;
    .sm(padding-right, ~"calc(@{val} + @{offset_sm_one_side})");
}

.shift-xs(@n){
    @val: 100% / @columns * @n;
    .xs(margin-left, ~"calc(@{val} + @{offset_xs_one_side})");
    .xs(margin-right, ~"calc(@{val} + @{offset_xs_one_side})");
}

.shift-xs-left(@n){
    @val: 100% / @columns * @n;
    .xs(margin-left, ~"calc(@{val} + @{offset_xs_one_side})");
}

.shift-xs-right(@n){
    @val: 100% / @columns * @n;
    .xs(margin-right, ~"calc(@{val} + @{offset_xs_one_side})");
}

.shift-xs-padding(@n){
    @val: 100% / @columns * @n;
    .xs(padding-left, ~"calc(@{val} + @{offset_xs_one_side})");
    .xs(padding-right, ~"calc(@{val} + @{offset_xs_one_side})");
}

.shift-xs-padding-left(@n){
    @val: 100% / @columns * @n;
    .xs(padding-left, ~"calc(@{val} + @{offset_xs_one_side})");
}

.shift-xs-padding-right(@n){
    @val: 100% / @columns * @n;
    .xs(padding-right, ~"calc(@{val} + @{offset_xs_one_side})");
}

.shift-vs(@n){
    @val: 100% / @columns * @n;
    .vs(margin-left, ~"calc(@{val} + @{offset_vs_one_side})");
    .vs(margin-right, ~"calc(@{val} + @{offset_vs_one_side})");
}

.shift-vs-left(@n){
    @val: 100% / @columns * @n;
    .vs(margin-left, ~"calc(@{val} + @{offset_vs_one_side})");
}

.shift-vs-right(@n){
    @val: 100% / @columns * @n;
    .vs(margin-right, ~"calc(@{val} + @{offset_vs_one_side})");
}

.shift-vs-padding(@n){
    @val: 100% / @columns * @n;
    .vs(padding-left, ~"calc(@{val} + @{offset_vs_one_side})");
    .vs(padding-right, ~"calc(@{val} + @{offset_vs_one_side})");
}

.shift-vs-padding-left(@n){
    @val: 100% / @columns * @n;
    .vs(padding-left, ~"calc(@{val} + @{offset_vs_one_side})");
}

.shift-vs-padding-right(@n){
    @val: 100% / @columns * @n;
    .vs(padding-right, ~"calc(@{val} + @{offset_vs_one_side})");
}

.bg(@name, @value){
    @media screen and (max-width: @break_bg){
        @{name}: @value;
    }
}

.bg-block(@content){
    @media screen and (max-width: @break_bg){
        @content();
    }
}

.lg(@name, @value){
    @media screen and (max-width: @break_lg){
        @{name}: @value;
    }
}

.lg-block(@content){
    @media screen and (max-width: @break_lg){
        @content();
    }
}

.md(@name, @value){
    @media screen and (max-width: @break_md){
        @{name}: @value;
    }
}

.md-block(@content){
    @media screen and (max-width: @break_md){
        @content();
    }
}

.ls(@name, @value){
    @media screen and (max-width: @break_ls){
        @{name}: @value;
    }
}

.ls-block(@content){
    @media screen and (max-width: @break_ls){
        @content();
    }
}

.sm(@name, @value){
    @media screen and (max-width: @break_sm){
        @{name}: @value;
    }
}

.sm-block(@content){
    @media screen and (max-width: @break_sm){
        @content();
    }
}

.xs(@name, @value){
    @media screen and (max-width: @break_xs){
        @{name}: @value;
    }
}

.xs-block(@content){
    @media screen and (max-width: @break_xs){
        @content();
    }
}

.vs(@name, @value){
    @media screen and (max-width: @break_vs){
        @{name}: @value;
    }
}

.vs-block(@content){
    @media screen and (max-width: @break_vs){
        @content();
    }
}

.from(@min_width, @content){
    @media screen and (min-width: @min_width){
        @content();
    }
}

.to(@max_width, @content){
    @media screen and (max-width: @max_width){
        @content();
    }
}

.from-to(@min_width, @max_width, @content){
    @media screen and (min-width: @min_width) and (max-width: @max_width){
        @content();
    }
}

.reset(){
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 100%;
        font-weight: normal;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    input,textarea,select{
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    legend{
        color: #000;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

.debug(@background, @outline){
    height: 100vh;
    position: fixed;
    width: 100%;
    
    > div{
        height: inherit;
        .wrapper();
        
        > div{
            height: inherit;
            .row-flex();
            
            > div{
                .col();
                .size(1);
                height: inherit;
                outline: @outline;
                background: @background;
            }
        }
    }
}

.clearfix(){
    &::after{
        display: block;
        content: "";
        clear: both;
    }
}