.flex,
header .width,
header .info,
main .introduce .width,
main .title-block,
main .members .arrows,
main .program .pr,
main .program .pr.pr-4 .pr-4-cont,
main .fair .prod,
main .tickets .item .ticket-block,
main .journalists .text-block,
main .journalists .text-block .journ-2 .item,
main .partners .block-partners .partn,
main .thanks .item,
footer .info,
footer .sub .width,
footer .item,
.popup.enter .sub div,
.popup .width,
.popup .width .form-popup,
.popup .width .form-popup .title,
.popup.buy-ticket form,
.popup.buy-ticket .form-cont .description .about .date,
.popup.pay-success .form-cont .box,
.popup.pay-success .form-cont .box .part.left,
.arrows,
.menu-open .items .sub,
main .fair .prod.prod-1 .slider-block .arrows,
.popup.message .block-message .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  line-height: inherit;
  transition: background 0.1s ease-in-out;
}
a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
html {
  overflow: hidden;
  overflow-y: auto;
}
ul {
  list-style-type: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
}
.width {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
}
header {
  position: fixed;
  width: 100%;
  z-index: 2000;
  padding: 14px 0;
  margin-top: 20px;
  padding-bottom: 20px;
  transition: background 0.4s;
}
header .width {
  position: relative;
  z-index: 2;
}
header .logo {
  margin: 0 20px;
  margin-top: 10px;
}
header .info {
  margin: 0 20px;
}
header .info .phone {
  font-size: 1.375em;
  font-weight: 700;
  min-width: 185px;
}
header .info .enter,
.menu-open .items .sub .enter {
  font-size: 1.125em;
  font-weight: 300;
  cursor: pointer;
  border-bottom: 1px dashed #fff;
  padding-bottom: 3px;
  margin-left: 50px;
}
@media screen and (max-width: 1050px) {
  header .info .enter,
  .menu-open .items .sub .enter {
    margin-left: 30px;
  }
}
header .info nav {
  min-width: 91px;
  font-size: 1.6em;
  font-weight: 800;
  color: #b136ff;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  margin-left: 50px;
}
@media screen and (max-width: 1050px) {
  header .info nav {
    margin-left: 30px;
  }
}
header .info nav img {
  margin: 0 3px;
}
header .buy {
  width: 180px;
  font-size: 1.125em;
  border: 2px solid #fff;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
  margin-left: 50px;
}
@media screen and (max-width: 1050px) {
  header .buy {
    margin-left: 30px;
  }
}
main .block .width {
  padding-left: 150px;
}
main .introduce {
  padding-top: 200px;
  background: url("/images/bg-1.2.jpg") no-repeat center;
  background-size: cover;
}
main .introduce .width {
  align-items: flex-start;
  justify-content: space-between;
}
main .introduce h1 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 20px;
}
main .introduce .name {
  font-size: 6.125em;
  font-weight: 800;
  margin: 0 20px;
}
main .introduce .button-block {
  margin: 39px 0 0 26px;
}
main .introduce .int-1 .where {
  margin: 0 20px;
  margin-top: 106px;
  margin-bottom: 23px;
}
main .introduce .int-1 .where span {
  display: block;
  font-size: 1.5em;
}
main .introduce .int-1 .where .date {
  font-weight: 800;
  margin-bottom: 6px;
}
main .introduce .int-1 .where .city {
  font-weight: 300;
}
main .introduce .int-1 .soc {
  margin: 0 20px;
  margin-bottom: 160px;
}
main .introduce .int-1 .soc i {
  font-size: 2.625em;
}
main .introduce .int-1 .soc a:first-of-type {
  margin-right: 10px;
}
main .introduce .int-1 .soc a:first-of-type:hover i {
  color: #4A76A8;
}
main .introduce .int-1 .soc a:nth-of-type(2):hover i {
  color: #FF0000;
}
main .introduce .int-2 {
  width: 720px;
  margin: 0 20px;
  position: relative;
}
main .introduce .int-2 .text {
  max-width: 458px;
  font-size: 10.625em;
  position: relative;
  z-index: 2;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: -27px;
  -webkit-text-stroke: 3px #b136ff;
  text-stroke: 3px #b136ff;
  color: transparent;
  top: -13px;
}
main .introduce .int-2 .video {
  position: absolute;
  z-index: 1;
  width: 93.5%;
  height: 380px;
  top: 93px;
  right: 0;
  border: 2px solid #b136ff;
}
main .introduce .int-2 .video iframe {
  width: 100% !important;
  height: 100% !important;
  position: relative;
  bottom: 26px;
  right: 28px;
}
main .title-block {
  max-width: 55px;
  justify-content: center;
  user-select: none;
  position: absolute;
  z-index: 10;
  left: 14px;
  top: 0;
  bottom: 0;
}
main .title-block div {
  color: transparent;
  -webkit-text-stroke: 2px #b136ff;
  font-weight: 700;
  text-align: center;
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
  font-size: 5.25em;
}
main .width {
  position: relative;
}
main .members {
  position: relative;
  background: #020001;
  padding-bottom: 118px;
}
main .members .width {
  height: 100%;
}
main .members .arrows,
main .fair .prod.prod-1 .slider-block .arrows {
  position: absolute;
  right: 6px;
  bottom: 30%;
}
main .members .arrows div,
main .fair .prod.prod-1 .slider-block .arrows div,
.arrows div {
  cursor: pointer;
  font-size: 50px;
  line-height: 0.5;
}
main .slider-members {
  width: 100%;
}
main .slider-members .item {
  position: relative;
}
main .slider-members .item .background {
  width: 100%;
}
main .slider-members .item .description {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}
main .slider-members .item .description .ava {
  width: 22.4%;
  margin: 10.7% 0 0 11.5%;
}
main .slider-members .item .description .ava img {
  width: 100%;
}
main .slider-members .item .description .ava .name {
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  margin-top: 30px;
  line-height: 1.1;
}
main .slider-members .item .description .text-block {
  float: right;
  position: absolute;
  /* bottom: 25px; */
  right: 135px;
  top: 450px;
  max-width: 550px;
  margin-right: 22px;
}
@media screen and (max-width: 1108px) {
  main .slider-members .item .description .text-block {
    max-width: 450px;
  }
}
main .slider-members .item .description .text-block .title {
  font-size: 1.125em;
  line-height: 1.5;
  margin-bottom: 25px;
  position: relative;
  font-weight: 700;
}
main .slider-members .item .description .text-block .text {
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.4;
}
main .custom_paging {
  bottom: 38%;
  position: absolute;
  right: 0;
  margin-right: 22px;
}
main .custom_paging li {
  color: #b136ff;
  font-weight: 800;
}
main .custom_paging li:not(.slick-active) {
  display: none;
}
main .custom_paging li .big {
  font-size: 5.25em;
}
main .custom_paging li .small {
  font-size: 1.875em;
}
main .program {
  background: url("/images/program-bg-2.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 112px;
  width: 100%;
}
main .program .title-block {
  bottom: inherit;
  top: 333px;
}
main .program .width {
  padding-top: 111px;
}
main .program .pr-block {
  width: 100%;
}
main .program .pr {
  align-items: flex-start;
  width: 100%;
}
main .program .pr h2,
main .music .description h2,
main .journalists h2,
main .music .msc-block .more .title,
main .music .msc-block .rock h2 {
  font-size: 2.625em;
  font-weight: 800;
  color: #b136ff;
  margin-bottom: 12px;
}
main .program .pr .explain,
main .music .msc-block p {
  font-size: 1.625em;
  font-weight: 800;
  line-height: 1.6;
  display: block;
}
main .program .pr p {
  font-family: 'Cormorant', serif;
  font-size: 1.25em;
  font-weight: 500;
  display: block;
  line-height: 1.4;
}
main .program .pr.pr-1 {
  margin-bottom: 50px;
}
main .program .pr.pr-1 div:first-of-type {
  margin-right: 30px;
  width: 100%;
  max-width: 560px;
}
main .program .pr.pr-1 h2 {
  text-align: right;
  white-space: nowrap;
}
main .program .pr.pr-1 span {
  text-align: right;
  padding-left: 40px;
}
main .program .pr.pr-1 p {
  max-width: 400px;
  margin-right: 20px;
  padding-top: 157px;
  width: 100%;
}
main .program .pr.pr-2 {
  margin-bottom: 160px;
}
main .program .pr.pr-2 p {
  max-width: 420px;
  text-align: right;
  padding-top: 68px;
  margin-right: 30px;
  width: 100%;
}
main .program .pr.pr-2 figure,
main .program .pr.pr-3 figure,
main .program .pr.pr-4 figure,
main .music .video,
main .fair .prod.prod-1 .slider-block,
main .fair .prod.prod-2 figure,
main .thanks .item figure {
  margin-right: 50px;
  border: 2px solid #b136ff;
  position: relative;
  left: -53px;
}
@media screen and (max-width: 1160px) {
  main .program .pr.pr-2 figure,
  main .program .pr.pr-3 figure,
  main .program .pr.pr-4 figure,
  main .music .video,
  main .fair .prod.prod-1 .slider-block,
  main .fair .prod.prod-2 figure,
  main .thanks .item figure {
    left: auto;
  }
}
main .program .pr.pr-2 figure img {
  position: relative;
  top: 28px;
  left: 28px;
  max-width: 455px;
  width: 100%;
}
main .program .pr.pr-3 {
  margin-bottom: 100px;
}
main .program .pr.pr-3 figure,
main .fair .prod.prod-1 .slider-block,
main .fair .prod.prod-2 figure,
main .thanks .item figure {
  margin: 0;
  margin-right: 30px;
}
main .program .pr.pr-3 figure img {
  position: relative;
  bottom: 30px;
  right: 30px;
  max-width: 550px;
  width: 100%;
}
main .program .pr.pr-3 div {
  max-width: 400px;
  width: 100%;
  padding-top: 48px;
  margin-right: 20px;
}
main .program .pr.pr-3 div p:first-of-type {
  margin-bottom: 18px;
}
main .program .pr.pr-4 {
  display: block;
}
main .program .pr.pr-4 .pr-4-cont {
  justify-content: space-between;
  align-items: flex-start;
}
main .program .pr.pr-4 h2 {
  margin-top: 75px;
}
main .program .pr.pr-4 figure {
  margin-right: 0;
}
main .program .pr.pr-4 figure img {
  position: relative;
  top: -30px;
  left: 28px;
  max-width: 550px;
  width: 100%;
}
main .program .pr.pr-4 .time-block {
  width: 100%;
  text-align: right;
  margin-top: 57px;
  padding-right: 50px;
}
main .program .pr.pr-4 .time-block .text {
  color: transparent;
  -webkit-text-stroke: 2px #b136ff;
  font-weight: 700;
  font-size: 85px;
  line-height: 0.8;
}
main .program .pr.pr-4 .time-block .when {
  max-width: 220px;
  display: inline-block;
  margin-right: 50px;
  text-align: left;
  font-size: 1.625em;
  font-weight: 800;
  line-height: 1.6;
  vertical-align: bottom;
}
main .program .pr.pr-4 .time-block .when span {
  display: block;
  margin-bottom: 5px;
}
main .program .pr.pr-4 .time-block .when text {
  stroke-width: .25;
}
main .program .pr.pr-4 .pr-4-cont > div:first-of-type {
  padding-top: 9px;
  text-align: right;
  margin-right: 30px;
  max-width: 350px;
  width: 100%;
}
main .program .pr.pr-4 .pr-4-cont > div:nth-of-type(2) {
  margin-right: 50px;
  max-width: 550px;
  width: 100%;
}
main .program .pr.pr-4 .button-block {
  display: inline-block;
}
main .music {
  background: url("/images/bg-3.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 130px;
}
main .music:after {
  content: '';
  width: 100%;
  display: table;
  clear: both;
}
main .music .title-block {
  bottom: inherit;
  top: 339px;
}
main .music h2 {
  line-height: 1;
}
main .music .width {
  padding-top: 130px;
}
main .music .msc {
  position: relative;
}
main .music .msc-block .more {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  left: -72px;
  margin-bottom: 102px;
}
main .music .msc-block .rock-block {
  border: 2px solid #b136ff;
  max-width: 1050px;
  float: right;
  width: 100%;
}
main .music .msc-block .rock {
  background: #fff;
  text-align: right;
  position: relative;
  top: -28px;
  padding: 60px 50px 68px 70px;
  right: 28px;
}
main .music .msc-block .rock h2 {
  text-align: left;
}
main .music .msc-block .rock img {
  margin-top: -60px;
  max-width: 100%;
}
main .music .description {
  display: inline-block;
  background: #fff;
  padding: 53px 96px 53px 70px;
  margin-left: -23px;
  width: 44.8%;
}
main .music .description p {
  font-weight: 500;
  font-family: 'Cormorant', serif;
  color: #000;
  font-size: 1.25em;
}
main .music .border {
  width: 61.3%;
  border: 2px solid #b136ff;
  position: absolute;
}
main .music .video {
  left: auto;
  border: none;
  margin: 0;
  position: relative;
  padding-bottom: 55.6%;
  height: 0;
  width: 100%;
}
main .music .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
main .music .msc-1 {
  position: relative;
  z-index: 10;
  margin-bottom: 424px;
}
main .music .msc-1 .border,
main .music .msc-3 .border {
  margin-bottom: 130px;
  left: auto;
  right: 0;
  top: 118px;
}
main .music .msc-1 .video,
main .music .msc-3 .video {
  bottom: 30px;
  right: 30px;
}
main .music .msc-2 {
  margin-bottom: 270px;
}
main .music .msc-2 .border {
  top: -120px;
}
main .music .msc-2 .video {
  top: 30px;
  right: 30px;
}
main .music .msc-2 .description {
  float: right;
  padding: 62px 57px 62px 106px;
}
main .music .msc-2:after {
  content: '';
  width: 100%;
  display: table;
  clear: both;
}
main .music .msc-3 {
  margin-bottom: 90px;
}
main .music .msc-3 .border {
  top: -120px;
}
main .fair {
  background: url("/images/bg-4.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 130px;
}
main .fair .fair-block {
  width: 100%;
}
main .fair .title-block {
  bottom: inherit;
  top: 274px;
}
main .fair .width {
  padding-top: 108px;
}
main .fair h3 {
  font-weight: 800;
  font-size: 2.625em;
  line-height: 1.4;
}
main .fair .prod {
  margin-right: 20px;
  width: 100%;
}
main .fair .prod.prod-1 {
  margin-top: 70px;
  margin-bottom: 130px;
}
main .fair .prod.prod-1 .description {
  width: 100%;
  max-width: 402px;
  margin-right: 20px;
}
main .fair .prod.prod-1 .slider-block {
  left: 30px;
  width: 49%;
  max-width: 520px;
  position: relative;
}
main .fair .prod.prod-1 .slider-block .slider-products {
  width: 100%;
  position: relative;
  top: 28px;
  right: 28px;
}
main .fair .prod.prod-1 .slider-block .slider-products .slick-list {
  width: 100%;
}
main .fair .prod.prod-1 .slider-block .slick-track {
  width: 100%;
}
main .fair .prod.prod-1 .slider-block .slick-track img {
  width: 100%;
}
main .fair .prod.prod-1 .slider-block .arrows {
  right: auto;
  left: 0;
  bottom: -62px;
}
main .fair .prod.prod-1 .slider-block .arrows div {
  font-size: 38px;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 20px 0;
  background: #b136ff;
  color: #fef0ff;
}
main .fair .prod.prod-1 .slider-block .arrows div:first-of-type {
  border-right: 1px solid #d67fff;
}
main .fair .prod.prod-2 .description {
  max-width: 430px;
  width: 100%;
  text-align: right;
}
main .fair .prod.prod-2 figure,
main .thanks .item figure {
  margin-left: 30px;
  margin-right: 50px;
  left: auto;
}
main .fair .prod.prod-2 figure img {
  position: relative;
  bottom: 28px;
  left: 28px;
  max-width: 520px;
  width: 100%;
}
main .fair .prod .description .title {
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.5;
  margin-bottom: 17px;
}
main .fair .prod .description p {
  font-size: 1.25em;
  font-family: 'Cormorant', serif;
  line-height: 1.5;
  font-weight: 500;
}
main .fair .prod .description p:first-of-type {
  margin-bottom: 19px;
}
main .tickets .block-slider {
  position: relative;
}
main .tickets .item {
  padding-bottom: 89px;
}
main .tickets .item.standart {
  background: url("/images/ticket-1.jpg") no-repeat center;
  background-size: cover;
}
main .tickets .item.comfort {
  background: url("/images/ticket-2.jpg") no-repeat center;
  background-size: cover;
}
main .tickets .item.premium {
  background: url("/images/ticket-3.jpg") no-repeat center;
  background-size: cover;
}
main .tickets .item.vip {
  background: url("/images/ticket-4.jpg") no-repeat center;
  background-size: cover;
}
main .tickets .item .width {
  padding-top: 400px;
}
main .tickets .item .width .title-block {
  top: 360px;
}
main .tickets .item .ticket-block {
  align-items: flex-start;
  justify-content: flex-start;
}
main .tickets .item .ticket-block .name {
  max-width: 250px;
  width: 250px;
  margin-right: 70px;
}
main .tickets .item .ticket-block .title {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 7px;
}
main .tickets .item .ticket-block .sub {
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 46px;
}
main .tickets .item .ticket-block .places {
  font-style: italic;
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 158px;
}
main .tickets .item .ticket-block .places div:not(:last-of-type) {
  margin-bottom: 8px;
}
main .tickets .item .ticket-block .places span {
  font-weight: 700;
}
main .tickets .item .ticket-block .button-block {
  max-width: 206px;
}
main .tickets .item .ticket-block .description {
  max-width: 500px;
}
main .tickets .item .ticket-block .description .price {
  margin-bottom: 6px;
}
main .tickets .item .ticket-block .description .price span {
  font-weight: 800;
}
main .tickets .item .ticket-block .description .price span:first-of-type {
  font-size: 3em;
}
main .tickets .item .ticket-block .description .price span:last-of-type {
  font-size: 1.125em;
}
main .tickets .item .ticket-block .description .list {
  min-height: 270px;
}
main .tickets .item .ticket-block .description .list div {
  margin-bottom: 20px;
  font-size: 1.125em;
  font-weight: 700;
}
main .tickets .item .ticket-block .description .list li {
  font-size: 1.25em;
  font-family: 'Cormorant', serif;
  font-weight: 500;
  line-height: 1.3;
}
main .tickets .item .ticket-block .description .list li:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("/images/mark.png") no-repeat center;
  background-size: contain;
  margin-right: 10px;
  vertical-align: middle;
}
main .tickets .item .ticket-block .description .list li:not(:last-of-type) {
  margin-bottom: 9px;
}
main .tickets .move {
  position: absolute;
  top: 389px;
  right: 0;
  width: 100%;
}
main .tickets .move .width {
  padding: 0;
  text-align: right;
}
main .tickets .move .custom_paging {
  position: inherit;
}
main .tickets .move .arrows {
  margin-left: auto;
}
main .tickets .move .dots {
  margin-bottom: 22px;
}
main .journalists {
  background: url("/images/bg-5.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 130px;
  margin-top: -41px;
}
main .journalists h2 {
  max-width: 474px;
  margin-bottom: 66px;
  line-height: 1.4;
}
main .journalists .width {
  padding-top: 103px;
}
main .journalists .title-block {
  top: 111px;
}
main .journalists .title-block svg {
  height: 602px;
}
main .journalists .explain {
  font-size: 1.375em;
  font-weight: 700;
  margin-bottom: 83px;
}
main .journalists .text-block {
  align-items: flex-start;
}
main .journalists .text-block .journ-1 {
  max-width: 550px;
  line-height: 1.5;
}
main .journalists .text-block .journ-1 span {
  font-size: 1.125em;
  font-weight: 300;
  font-style: italic;
}
main .journalists .text-block .journ-2 .item {
  justify-content: flex-start;
  align-items: flex-start;
}
main .journalists .text-block .journ-2 .item:first-of-type {
  margin-bottom: 60px;
}
main .journalists .text-block .journ-2 .item:nth-of-type(2) {
  margin-bottom: 46px;
}
main .journalists .text-block .journ-2 .item h3 {
  font-size: 1.625em;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: -5px;
}
main .journalists .text-block .journ-2 .item figure {
  border: 2px solid #b136ff;
  width: 100px;
  height: 100px;
  margin-right: 40px;
}
main .journalists .text-block .journ-2 .item figure img {
  position: relative;
  bottom: 42px;
  right: 43px;
}
main .journalists .text-block .journ-2 .descriptions span {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}
main .journalists .text-block .journ-2 .subscribers {
  color: #ff0000;
}
main .journalists .text-block .journ-2 .subscribers i {
  font-size: 1.75em;
  vertical-align: middle;
}
main .journalists .text-block .journ-2 .subscribers span {
  vertical-align: middle;
  font-weight: 600;
}
main .journalists .text-block .form {
  margin-top: 35px;
}
main .journalists .text-block .form input {
  width: 470px;
  padding-right: 175px;
}
main .journalists .text-block .form .button {
  position: absolute;
  width: 150px;
  right: 88px;
}
main .partners {
  background: url("/images/bg-6.jpg") no-repeat center;
  padding-bottom: 77px;
  background-size: cover;
}
main .partners .title-block {
  top: 70px;
}
main .partners .width {
  padding-top: 133px;
}
main .partners .block-partners {
  max-width: 1005px;
  margin: 0 auto;
}
main .partners .block-partners .partn {
  justify-content: center;
}
main .partners .block-partners .partn .item {
  max-width: 215px;
  text-align: center;
  margin: 0 43px;
}
main .partners .block-partners .partn .item .description {
  opacity: 0;
}
main .partners .block-partners .partn .item .description span {
  display: block;
}
main .partners .block-partners .partn .item .description span:first-of-type {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 6px;
}
main .partners .block-partners .partn .item .description span:last-of-type {
  font-size: 1em;
  font-weight: 300;
  color: #8a8a8a;
}
main .partners .block-partners .partn .item .logo {
  display: inline-block;
  margin-bottom: 27px;
}
main .partners .block-partners .partn .item.ya .logo {
  background: url("/images/yumianime.png") no-repeat center;
  background-size: contain;
  width: 120px;
  height: 113px;
}
main .partners .block-partners .partn .item.ya:hover .logo {
  background: url("/images/yumianime-hover.png") no-repeat center;
  background-size: contain;
}
main .partners .block-partners .partn .item.sr .logo {
  background: url("/images/sr.png") no-repeat center;
  background-size: contain;
  width: 120px;
  height: 113px;
}
main .partners .block-partners .partn .item.sr:hover .logo {
  background: url("/images/sr-hover.png") no-repeat center;
  background-size: contain;
}
main .partners .block-partners .partn .item.jb .logo {
  background: url("/images/j-by.png") no-repeat center;
  background-size: contain;
  width: 120px;
  height: 120px;
}
main .partners .block-partners .partn .item.jb:hover .logo {
  background: url("/images/j-by-hover.png") no-repeat center;
  background-size: contain;
}
main .partners .block-partners .partn .item.ad .logo {
  background: url("/images/anidub.png") no-repeat center;
  background-size: contain;
  width: 120px;
  height: 109px;
}
main .partners .block-partners .partn .item.ad:hover .logo {
  background: url("/images/anidub-hover.png") no-repeat center;
  background-size: contain;
}
main .partners .block-partners .partn .item.za .logo {
  background: url("/images/arena.png") no-repeat center;
  background-size: contain;
  width: 127px;
  height: 93px;
}
main .partners .block-partners .partn .item.za:hover .logo {
  background: url("/images/arena-hover.png") no-repeat center;
  background-size: contain;
}
main .partners .block-partners .partn .item:hover .description {
  opacity: 1;
}
main .partners .block-partners .partn.partn-1 {
  margin-bottom: 38px;
  align-items: flex-start;
}
main .thanks {
  background: url("/images/bg-7.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 112px;
  padding-bottom: 122px;
}
main .thanks h3 {
  font-size: 2.625em;
  font-weight: 800;
  text-align: center;
  margin-bottom: 68px;
}
main .thanks .item {
  align-items: flex-start;
  justify-content: flex-start;
}
main .thanks .item:first-of-type {
  margin-bottom: 100px;
}
main .thanks .item:first-of-type .text {
  max-width: 435px;
}
main .thanks .item:nth-of-type(2) {
  margin-left: 220px;
}
@media screen and (max-width: 1050px) {
  main .thanks .item:nth-of-type(2) {
    margin-left: 0;
  }
}
main .thanks .item:nth-of-type(2) .text {
  max-width: 520px;
}
main .thanks .item figure {
  margin-right: 80px;
}
@media screen and (max-width: 1050px) {
  main .thanks .item figure {
    margin-right: 60px;
  }
}
main .thanks .item figure img {
  position: relative;
  top: 28px;
  left: 28px;
}
main .thanks .item .title {
  font-weight: 800;
  font-size: 3em;
  color: #b136ff;
  line-height: 1.0;
  margin-bottom: 47px;
  margin-left: -122px;
  position: relative;
}
main .thanks .item .text span {
  font-size: 1.125em;
  font-style: italic;
  font-weight: 600;
}
main .thanks .item .text p {
  font-size: 1.25em;
  font-family: 'Cormorant', serif;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 25px;
}
main .thanks .item .text p a {
  text-decoration: underline;
}
main .thanks .item .description {
  margin-top: 97px;
}
.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
footer {
  background: url("/images/bg-6.jpg") no-repeat center;
  background-size: cover;
}
footer .info {
  align-items: flex-start;
  padding-top: 67px;
  padding-bottom: 57px;
}
footer a:hover {
  text-decoration: underline;
}
footer .sub {
  background: #000;
  color: #494848;
  padding-top: 27px;
  padding-bottom: 25px;
}
footer .sub a {
  color: #494848;
  font-size: 0.875em;
  line-height: 1.4;
}
footer .item {
  position: relative;
}
footer .item .title {
  font-weight: 800;
  font-size: 1.375em;
  margin-left: -48px;
  width: 220px;
  text-align: right;
  position: absolute;
  left: -56px;
  top: 98px;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
footer .item .cont {
  font-weight: 300;
  padding-left: 66px;
}
footer .item .cont a {
  display: block;
  font-size: 1.125em;
}
footer .item .cont a:not(:last-of-type) {
  margin-bottom: 17px;
}
footer .item .cont .text-success {
  font-size: 0.813em;
  color: #8a8a8a;
  font-weight: 500;
  margin-top: 42px;
  display: none;
}
footer .form {
  position: relative;
}
footer .form input {
  margin-bottom: 18px;
  width: 100%;
  font-style: italic;
}
footer .form textarea {
  height: 160px;
  font-family: 'Cormorant', serif;
  font-style: italic;
}
footer .form .button {
  max-width: 150px;
  position: absolute;
  right: 20px;
  bottom: -20px;
  font-size: 1.125em;
}
.form {
  position: relative;
}
.form input {
  background: transparent;
  border: 2px solid #b136ff;
  outline: none;
  color: #fff;
  font-family: 'Cormorant', serif;
  font-size: 1.25em;
  font-weight: 500;
  padding: 7px 20px 9px 20px;
  font-style: italic;
}
.form input[placeholder] {
  color: #fff;
}
.form input::-webkit-input-placeholder {
  color: #fff;
}
.form input::-moz-placeholder {
  color: #fff;
}
.form input:-moz-placeholder {
  color: #fff;
}
.form input:-ms-input-placeholder {
  color: #fff;
}
.form textarea::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Cormorant', serif;
}
.form textarea::-moz-placeholder {
  color: #fff;
  font-family: 'Cormorant', serif;
}
.form textarea:-moz-placeholder {
  color: #fff;
  font-family: 'Cormorant', serif;
}
.form textarea:-ms-input-placeholder {
  color: #fff;
  font-family: 'Cormorant', serif;
}
.form .button {
  font-weight: 400;
}
.form textarea {
  border: 2px solid #b136ff;
  outline: none;
  color: #fff;
  font-family: 'Cormorant', serif;
  font-size: 1.25em;
  background: transparent;
  padding: 7px 20px 9px 20px;
  width: 100%;
  max-width: 100%;
  resize: vertical;
  font-style: italic;
}
.form-cont input::-webkit-input-placeholder {
  color: #5d4666;
  font-family: 'Cormorant', serif;
}
.form-cont input::-moz-placeholder {
  color: #5d4666;
  font-family: 'Cormorant', serif;
}
.form-cont input:-moz-placeholder {
  color: #5d4666;
  font-family: 'Cormorant', serif;
}
.form-cont input:-ms-input-placeholder {
  color: #5d4666;
  font-family: 'Cormorant', serif;
}
.form-cont input {
  font-weight: 500;
  font-style: italic;
  color: #1c002d;
  font-family: 'Cormorant', serif;
  outline: none;
  font-size: 1.25em;
  border: none;
  border-bottom: 2px solid #b136ff;
  background: transparent;
  width: 100%;
  padding: 0 30px 4px;
}
.form-cont .block-input,
.form-cont .form-group {
  position: relative;
  margin-bottom: 22px;
}
.form-cont .block-input i,
.form-cont .form-group i {
  color: #5d4666;
  position: absolute;
  font-size: 1.125em;
  width: 20px;
}
.form-cont .block-input i:first-of-type,
.form-cont .form-group i:first-of-type {
  left: 0;
}
.form-cont .block-input i:last-of-type,
.form-cont .form-group i:last-of-type {
  right: 0;
}
.form-cont .block-input.has-error i,
.form-cont .form-group.has-error i {
  color: #ff4848;
}
.form-cont .block-input.has-error input,
.form-cont .form-group.has-error input {
  border-bottom: 2px solid #ff4848;
}
.form-cont .block-input.focus i,
.form-cont .form-group.focus i {
  color: #1c002d;
}
.form-cont .btn,
.popup.message .block-message .btn {
  background: #b136ff;
  font-size: 1.125em;
  font-weight: 400;
  width: 150px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 11px;
  cursor: pointer;
  position: absolute;
  bottom: -23px;
  right: 30px;
}
#error-block,
.form-group.has-error .help-block {
  margin-bottom: 56px;
  margin-left: 31px;
  display: none;
  background: #fff;
  border: 2px solid #ff4848;
  font-size: 0.813em;
  color: #ff4848;
  font-weight: 500;
  border-radius: 37px;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 320px;
  line-height: 1.7;
  padding: 15px 27px 14px;
  z-index: 1000;
}
#error-block strong {
  font-weight: 600;
}
#error-block span {
  font-style: italic;
}
#error-block .tail,
.form-group.has-error .help-block:after {
  width: 26px;
  height: 14px;
  position: absolute;
  bottom: 0;
  background: url("/images/tail-right.png") no-repeat center;
  background-size: contain;
}
#error-block .tail.right {
  right: -9px;
}
#error-block .tail.left {
  background: url("/images/tail-left.png") no-repeat center;
  background-size: contain;
  left: -9px;
}
.form-group.has-error:before {
  content: "\F028";
  color: #ff4848;
  font: normal normal normal 24px/1 "Material Design Icons";
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25em;
  position: absolute;
  left: -34px;
  top: 5px;
}
.form-group.has-error .help-block {
  top: -33px;
  right: 100%;
  left: inherit;
  margin: 0;
  white-space: nowrap;
  margin-right: 44px;
}
.form-group.has-error .help-block:after {
  content: '';
  right: -11px;
}
.form-group.has-error:hover .help-block {
  display: table;
}
#support i {
  position: absolute;
  left: -36px;
  top: 10px;
}
#remind i {
  margin-left: 12px;
}
.form .block-input {
  position: relative;
}
.form .block-input i {
  display: none;
}
.form .block-input.has-error {
  position: relative;
}
.form .block-input.has-error i {
  color: #ff4848;
  font-size: 1.25em;
  display: inline-block;
  position: relative;
}
.form .block-input.has-error input {
  border: 2px solid #ff4848;
}
.form .block-input.has-error textarea {
  border: 2px solid #ff4848;
  font-family: 'Cormorant', serif;
  font-style: italic;
}
.popup {
  background: rgba(0, 0, 0, 0.71);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3000;
  display: none;
}
.popup.enter .block-form {
  max-width: 580px;
}
.popup.enter .block-form .form-cont {
  width: 460px;
  padding: 69px 80px;
}
.popup.enter .sub {
  margin-top: 28px;
}
.popup.enter .sub div {
  font-size: 1em;
  color: #5d4666;
  font-style: italic;
  cursor: pointer;
  margin-bottom: 7px;
}
.popup.enter .sub div i {
  font-size: 1.25em;
}
.popup.enter .sub div i:last-of-type {
  font-size: 1.875em;
}
.popup.enter .sub div span {
  border-bottom: 1px dashed #5d4666;
}
.popup.enter .sub p {
  color: #5d4666;
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.7;
  display: none;
}
.popup.enter .sub p span {
  font-weight: 600;
}
.popup .width {
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.popup .width .block-form,
.popup.message .block-message {
  border: 2px solid #b136ff;
}
.popup .width .form-popup,
.popup.message .block-message .text {
  background: #fff;
  align-items: stretch;
  position: relative;
  top: 30px;
  left: 30px;
}
.popup .width .form-popup .title {
  background: #1c002d;
  max-width: 120px;
  justify-content: center;
  user-select: none;
}
.popup .width .form-popup .title div {
  color: transparent;
  -webkit-text-stroke: 1.5px #b136ff;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display: inline-block;
}
.popup .width .form-popup .form-cont {
  position: relative;
}
.popup .width .form-popup .form-cont h3 {
  font-size: 1.875em;
  color: #1c002d;
  font-weight: 800;
  margin-bottom: 37px;
}
.popup.buy-ticket .block-form {
  max-width: 1140px;
  width: 100%;
  margin-top: -170px;
}
.popup.buy-ticket form {
  align-items: stretch;
  justify-content: flex-start;
}
.popup.buy-ticket .form-cont .description {
  background: #f0d7ff;
  max-width: 520px;
  width: 100%;
}
.popup.buy-ticket .form-cont .description .about {
  background: url("/images/ticket.jpg") no-repeat center;
  background-size: cover;
  padding: 55px 70px 65px;
}
.popup.buy-ticket .form-cont .description .about .header {
  margin-bottom: 69px;
}
.popup.buy-ticket .form-cont .description .about .header .logo {
  margin-right: 13px;
}
.popup.buy-ticket .form-cont .description .about .header div {
  display: inline-block;
  vertical-align: top;
  font-size: 3em;
  font-weight: 800;
}
.popup.buy-ticket .form-cont .description .about .header div:not(.logo) {
  margin-top: -11px;
}
.popup.buy-ticket .form-cont .description .about .date {
  align-items: flex-start;
}
.popup.buy-ticket .form-cont .description .about .date span {
  font-size: 1.5em;
  font-weight: 800;
}
.popup.buy-ticket .form-cont .description .about .date p {
  font-size: 1em;
  color: #a194a8;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 11px;
}
.popup.buy-ticket .form-cont .description .choose {
  position: relative;
  padding: 50px 70px;
}
.popup.buy-ticket .form-cont .description .choose .price {
  background: #b136ff;
  position: absolute;
  top: -29px;
  right: 67px;
  width: 160px;
  text-align: center;
  padding: 9px 0 11px;
  border-radius: 31px;
}
.popup.buy-ticket .form-cont .description .choose .price .int {
  font-size: 1.875em;
  font-weight: 800;
  margin-left: 10px;
}
.popup.buy-ticket .form-cont .description .choose .price span:not(.int) {
  font-size: 1.25em;
  font-weight: 300;
}
.popup.buy-ticket .form-cont .description .choose .text {
  color: #5d4666;
  font-size: 0.813em;
  font-weight: 400;
  margin-top: 23px;
}
.popup.buy-ticket .form-cont .description .choose .text span {
  font-weight: 600;
}
.popup.buy-ticket .form-cont .description .choose .text p {
  line-height: 1.6;
}
.popup.buy-ticket .form-cont .description .choose .text p:not(.active) {
  display: none;
}
.popup.buy-ticket .form-cont .client-data {
  padding: 68px 75px 65px;
}
.popup.buy-ticket .form-cont .client-data label {
  overflow: hidden;
  position: relative;
  display: block;
  margin-top: 43px;
  margin-bottom: 20px;
}
.popup.buy-ticket .form-cont .client-data .label {
  font-size: 0.813em;
  color: #5d4666;
  font-weight: 400;
}
.popup.buy-ticket .form-cont .client-data .sub {
  color: #a194a8;
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.6;
}
.popup.buy-ticket .form-cont .client-data .sub a {
  font-weight: 600;
  color: #a194a8;
}
.popup.buy-ticket .form-cont .client-data .sub a:hover {
  text-decoration: underline;
}
.popup.buy-ticket .form-cont .client-data h4 {
  font-size: 1.125em;
  font-weight: 800;
  color: #5d4666;
  margin-top: 52px;
  margin-bottom: 18px;
}
.popup.buy-ticket .form-cont .client-data .checkbox-custom {
  width: 15px;
  height: 15px;
  color: #5d4666;
  margin-right: 8px;
}
.popup.buy-ticket .form-cont .client-data .checkbox-custom:before {
  content: "\F131";
}
.popup.buy-ticket .form-cont .client-data .checkbox {
  position: absolute;
  left: -200px;
}
.popup.buy-ticket .form-cont .client-data .checkbox:checked + .checkbox-custom:before {
  content: "\F135";
}
.popup.buy-ticket .form-cont .btn {
  width: 250px;
}
.popup.message .block-message {
  max-width: 470px;
  color: #1c002d;
}
.popup.message .block-message .text-success {
  font-size: 1.125em;
  font-weight: 800;
  margin-bottom: 16px;
}
.popup.message .block-message .text {
  display: block;
  padding: 62px 50px 78px 60px;
  position: relative;
}
.popup.message .block-message .text p {
  font-size: 0.813em;
  font-weight: 500;
  line-height: 1.5;
}
.popup.message .block-message .text p:first-of-type {
  margin-bottom: 11px;
}
.popup.message .block-message .btn {
  max-width: 90px;
  color: #fff;
}
.popup.pay-success {
  display: flex;
  color: #5d4666;
}
.popup.pay-success .form-cont {
  width: 100%;
  max-width: 1020px;
  padding: 66px 95px 150px 100px;
}
.popup.pay-success .form-cont .success {
  font-size: 1.875em;
  font-weight: 800;
  color: #1c002d;
  margin-bottom: 103px;
}
.popup.pay-success .form-cont .thank {
  font-size: 1.188em;
  font-weight: 800;
  color: #1c002d;
  margin-top: auto;
}
.popup.pay-success .form-cont .box {
  align-items: stretch;
}
.popup.pay-success .form-cont .box .part.left {
  width: 65.5%;
  flex-wrap: wrap;
  align-items: flex-start;
}
.popup.pay-success .form-cont .box .part.left p {
  font-weight: 500;
  max-width: 360px;
}
.popup.pay-success .form-cont .box .part.left p:first-of-type {
  line-height: 1.4;
}
.popup.pay-success .form-cont .box .part.left p:nth-of-type(2) {
  line-height: 1.9;
  margin-top: -17px;
}
.popup.pay-success .form-cont .box .part.left p span {
  font-size: 1.375em;
  font-family: 'Cormorant', serif;
  color: #1c002d;
  font-style: italic;
  font-weight: 600;
}
.popup.pay-success .form-cont .box .part.right {
  width: 34.5%;
  font-size: 0.875em;
}
.popup.pay-success .form-cont .box .part.right p {
  line-height: 1.9;
}
.popup.pay-success .form-cont .box .part.right span {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.popup.pay-success .form-cont .box .part.right a {
  color: #1c002d;
  display: block;
  font-weight: 600;
  line-height: 2;
}
.popup.pay-success .form-cont .box .part.right a i:before {
  margin-right: 12px;
  display: inline-block;
}
.popup.pay-success .form-cont .box .part.right a:nth-last-of-type(1) {
  text-decoration: underline;
}
.popup.pay-success .form-cont .box .part.right a:nth-last-of-type(2) {
  text-decoration: underline;
}
.popup.pay-success .form-cont .box .part.right .contacts {
  margin-top: 35px;
}
.popup.pay-success .form-cont #buy-more {
  width: 340px;
  color: #fff;
}
#tickets {
  position: relative;
}
#tickets .sold-out {
  color: #de4343;
  font-size: 13px;
  font-weight: 600;
}
#tickets .active {
  cursor: pointer;
  font-size: 1.5em;
  color: #1c002d;
  font-weight: 800;
  position: relative;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #b136ff;
  outline: none;
  padding: 0 7px 6px 0;
}
#tickets .active:after {
  content: '';
  background: url("/images/arrow-down.png") no-repeat center;
  background-size: contain;
  width: 12px;
  height: 6px;
  margin-top: 16px;
  float: right;
}
#tickets .active .small {
  font-weight: 400;
  font-size: 14px;
}
#tickets .active .rub {
  display: none;
}
#tickets .tickets-list {
  background: #fff;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  display: none;
}
#tickets .tickets-list li {
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  color: #1c002d;
  padding: 7px 16px 8px;
  border: 2px solid transparent;
}
#tickets .tickets-list li:not(.disabled):hover {
  border: 2px solid #b136ff;
}
#tickets .tickets-list li .rub {
  float: right;
  font-weight: 800;
}
#tickets .tickets-list li.disabled {
  cursor: default;
  background: #ccc;
}
.arrows {
  width: 119px;
  margin-left: auto;
}
.arrows div.next {
  margin-right: 5px;
}
.button-block {
  max-width: 180px;
  border: 2px solid #b136ff;
}
.button-block .button,
.form .button {
  background: #fff;
  color: #1c002d;
  font-size: 1.125em;
  padding: 11px 15px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  right: 10px;
  bottom: 10px;
}
svg {
  position: relative;
  z-index: 10;
  width: 100%;
}
text {
  font-size: 12px;
  font-weight: 800;
  stroke: #b136ff;
  stroke-width: .20;
  fill: none;
  text-transform: uppercase;
}
.menu-open {
  height: 100vh;
  position: fixed;
  z-index: 3000;
  width: 100%;
  display: none;
}
.menu-open .width {
  position: relative;
  padding: 0 20px;
}
.menu-open #map_canvas {
  height: 100vh;
}
.menu-open .logo {
  position: absolute;
  z-index: 3001;
  top: 55px;
}
.menu-open .items {
  position: absolute;
  z-index: 3001;
  right: 0;
  width: 570px;
  background: #07000b;
  height: 100vh;
  padding-top: 50px;
  padding-right: 20px;
}
.menu-open .items .list {
  display: inline-block;
  margin-top: 73px;
  float: right;
}
.menu-open .items .list ul {
  padding-right: 24px;
  margin-bottom: 59px;
}
.menu-open .items li {
  font-size: 3em;
  font-weight: 700;
}
.menu-open .items li:not(:last-of-type) {
  margin-bottom: 13px;
}
.menu-open .items li:hover a {
  color: transparent;
  -webkit-text-stroke: 1.5px #fff;
}
.menu-open .items .cross {
  font-size: 3em;
  position: absolute;
  cursor: pointer;
  right: 11px;
}
.menu-open .items:after {
  content: '';
  display: block;
  width: 2000px;
  bottom: 0;
  background: #07000b;
  left: 100%;
  top: 0;
  position: absolute;
}
.menu-open .items .sub {
  clear: both;
  justify-content: space-between;
}
.menu-open .items .sub .enter {
  font-size: 1.125em;
  margin: 0;
}
.menu-open .items .sub a {
  font-size: 1.125em;
}
.menu-open .items .when {
  width: 370px;
  position: absolute;
  border: 2px solid #b136ff;
  top: 160px;
  left: -270px;
}
.menu-open .items .when .wh {
  background: #fff;
  color: #1c002d;
  padding: 75px 62px 102px;
  position: relative;
  right: 30px;
  bottom: 30px;
}
.menu-open .items .when .wh span {
  display: block;
}
.menu-open .items .when .wh span:not(:last-of-type) {
  margin-bottom: 10px;
}
.menu-open .items .when .title {
  font-size: 2.25em;
  font-weight: 800;
  margin-bottom: 14px;
}
.menu-open .items .when .title:nth-of-type(2) {
  margin-top: 42px;
}
.members .slick-slide {
  height: 753px;
}
