@import "smart-grid.less";

@pathToImg: '/images/';
@main-font: 'Montserrat', sans-serif;
@second-font: 'Cormorant', serif;
@main-color: #fff;
@second-color: #b136ff;
@button-color: #1c002d;
@border-color: #ffe9f4;
@color-hover: #ee4fa1;
@error-color: #ff4848;
@width: 1210px;

@10px: 0.625em;
@12px: 0.750em;
@13px: 0.813em;
@14px: 0.875em;
@15px: 0.938em;
@16px: 1em;
@17px: 1.063em;
@18px: 1.125em;
@19px: 1.188em;
@20px: 1.250em;
@21px: 1.313em;
@22px: 1.375em;
@24px: 1.500em;
@26px: 1.625em;
@28px: 1.750em;
@30px: 1.875em;
@32px: 2.000em;
@36px: 2.250em;
@38px: 2.375em;
@42px: 2.625em;
@48px: 3.000em;
@84px: 5.250em;
@98px: 6.125em;
@170px: 10.625em;

//Functions
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  line-height: inherit;
  transition: background 0.1s ease-in-out;
}
a {
  color: @main-color;
  text-decoration: none;
  outline: none;
}

html {
  overflow: hidden;
  overflow-y: auto;
}

ul {
  list-style-type: none;
}

body {
  font-family: @main-font;
  color: @main-color;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
}
.width {
  max-width: @width;
  width: 100%;
  margin: 0 auto;
}
header {
  position: fixed;
  width: 100%;
  z-index: 2000;
  padding: 14px 0;
  margin-top: 20px;
  padding-bottom: 20px;
  transition: background 0.4s;

  .width {
    &:extend(.flex);
    position: relative;
    z-index: 2;
  }

  .logo {
    margin: 0 @offset;
    margin-top: 10px;
  }

  .info {
    &:extend(.flex);
    //width: 585px;
    margin: 0 @offset;


    .phone {
      font-size: @22px;
      font-weight: 700;
      min-width: 185px;
    }
    .enter {
      font-size: @18px;
      font-weight: 300;
      cursor: pointer;
      border-bottom: 1px dashed #fff;
      padding-bottom: 3px;
      margin-left: 50px;

      .lg(margin-left, 30px);
    }
    nav {
      min-width: 91px;
      font-size: 1.6em;
      font-weight: 800;
      color: @second-color;
      text-transform: uppercase;
      user-select: none;
      cursor: pointer;
      margin-left: 50px;

      .lg(margin-left, 30px);

      img {
        margin: 0 3px;
      }
    }
  }
  .buy {
    width: 180px;
    font-size: @18px;
    border: 2px solid #fff;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
    margin-left: 50px;

    .lg(margin-left, 30px);
  }
}


main {
  .block {
    .width {
      padding-left: 150px;
    }
  }
    .introduce {
      padding-top: 200px;
      background: url("@{pathToImg}bg-1.2.jpg") no-repeat center;
      background-size: cover;

      .width {
        &:extend(.flex);
        align-items: flex-start;
        justify-content: space-between;
      }

      h1 {
        font-size: @24px;
        font-weight: 300;
        margin: 0 @offset;
      }

      .name {
        font-size: @98px;
        font-weight: 800;
        margin: 0 @offset;
      }
      .button-block {
        margin: 39px 0 0 26px;
      }

      .int-1 {
        .where {
          margin: 0 @offset;
          margin-top: 106px;
          margin-bottom: 23px;

          span {
            display: block;
            font-size: @24px;
          }
          .date {
            font-weight: 800;
            margin-bottom: 6px;
          }
          .city {
            font-weight: 300;
          }
        }
        .soc {
          margin: 0 @offset;
          margin-bottom: 160px;

          i {
            font-size: @42px;
          }

          a {
            &:first-of-type {
              margin-right: 10px;

              &:hover {
                i {
                  color: #4A76A8;
                }
              }
            }

            &:nth-of-type(2) {
              &:hover {
                i {
                  color: #FF0000;
                }
              }
            }
          }
        }
      }
      .int-2 {
        width: 720px;
        margin: 0 @offset;
        position: relative;

        .text {
          max-width: 458px;
          font-size: 10.625em;
          position: relative;
          z-index: 2;
          font-weight: 800;
          text-transform: uppercase;
          margin-top: -27px;
          -webkit-text-stroke: 3px #b136ff;
          text-stroke: 3px #b136ff;
          color: transparent;
          top: -13px;
        }

        .video {
          position: absolute;
          z-index: 1;
          width: 93.5%;
          height: 380px;
          top: 93px;
          right: 0;
          border: 2px solid @second-color;

          iframe {
            width: 100% !important;
            height: 100% !important;
            position: relative;
            bottom: 26px;
            right: 28px;
          }
        }
      }
    }
    .title-block {
      &:extend(.flex);
      max-width: 55px;
      justify-content: center;
      user-select: none;
      position: absolute;
      z-index: 10;
      left: 14px;
      top: 0;
      bottom: 0;

      div {
        color: transparent;
        -webkit-text-stroke: 2px #b136ff;
        font-weight: 700;
        text-align: center;
        transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        display: inline-block;
        font-size: @84px;
      }
    }
    .width {
      position: relative;
    }
  .members {
    position: relative;
    background: #020001;
    padding-bottom: 118px;

    .width {
      height: 100%;
    }

    .arrows {
      position: absolute;
      &:extend(.flex);
      right: 6px;
      bottom: 30%;

      div {
        cursor: pointer;
        font-size: 50px;
        line-height: 0.5;
      }
    }
  }
  .slider-members {
    width: 100%;

    .item {
      position: relative;

      .background {
        width: 100%;
      }
      .description {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;

        .ava {
          width: 22.4%;
          margin: 10.7% 0 0 11.5%;

          img {
            width: 100%;
          }
          .name {
            font-size: @48px;
            font-weight: 800;
            text-align: center;
            margin-top: 30px;
            line-height: 1.1;
          }
        }
        .text-block {
          float: right;
          position: absolute;
          /* bottom: 25px; */
          right: 135px;
          top: 450px;
          max-width: 550px;
          margin-right: 22px;

          @media screen and (max-width: 1108px){
              max-width: 450px;
          }

          .title {
            font-size: @18px;
            line-height: 1.5;
            margin-bottom: 25px;
            position: relative;
            font-weight: 700;
          }
          .text {
            font-family: @second-font;
            font-weight: 400;
            font-size: @20px;
            line-height: 1.4;
          }
        }
      }
    }
  }
  .custom_paging {
    bottom: 38%;
    position: absolute;
    right: 0;
    margin-right: 22px;

    li {
      color: @second-color;
      font-weight: 800;

      &:not(.slick-active) {
        display: none;
      }

      .big {
        font-size: @84px;
      }
      .small {
        font-size: @30px;
      }
    }
  }
  .program {
    background: url("@{pathToImg}program-bg-2.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 112px;
    width: 100%;

    .title-block {
      bottom: inherit;
      top: 333px;
    }

    .width {
      padding-top: 111px;
    }

    .pr-block {
      width: 100%;
    }

    .pr {
      &:extend(.flex);
      align-items: flex-start;
      width: 100%;

      h2 {
        font-size: @42px;
        font-weight: 800;
        color: @second-color;
        margin-bottom: 12px;
      }
      .explain {
        font-size: @26px;
        font-weight: 800;
        line-height: 1.6;
        display: block;
      }
      p {
        font-family: @second-font;
        font-size: @20px;
        font-weight: 500;
        display: block;
        line-height: 1.4;
      }
      &.pr-1 {
        margin-bottom: 50px;

        div {
          &:first-of-type {
            margin-right: 30px;
            width: 100%;
            max-width: 560px;
          }
        }

        h2 {
          text-align: right;
          white-space: nowrap;
        }
        span {
          text-align: right;
          padding-left: 40px;
        }
        p {
          max-width: 400px;
          margin-right: @offset;
          padding-top: 157px;
          width: 100%;
        }
      }
      &.pr-2 {
        margin-bottom: 160px;

        p {
          max-width: 420px;
          text-align: right;
          padding-top: 68px;
          margin-right: 30px;
          width: 100%;
        }
        figure {
          margin-right: 50px;
          border: 2px solid @second-color;
          position: relative;
          left: -53px;

          @media screen and (max-width: 1160px){
            left: auto;
          }

          img {
            position: relative;
            top: 28px;
            left: 28px;
            max-width: 455px;
            width: 100%;
          }
        }
      }
      &.pr-3 {
        margin-bottom: 100px;

        figure {
          &:extend(main .program .pr.pr-2 figure);
          margin: 0;
          margin-right: 30px;

          img {
            position: relative;
            bottom: 30px;
            right: 30px;
            max-width: 550px;
            width: 100%;
          }
        }
        div {
          max-width: 400px;
          width: 100%;
          padding-top: 48px;
          margin-right: @offset;

          p {
            &:first-of-type {
              margin-bottom: 18px;
            }
          }
        }
      }
      &.pr-4 {
        display: block;

        .pr-4-cont {
          &:extend(.flex);
          justify-content: space-between;
          align-items: flex-start;
        }

        h2 {
          margin-top: 75px;
        }

        figure {
          &:extend(main .program .pr.pr-2 figure);
          margin-right: 0;

          img {
            position: relative;
            top: -30px;
            left: 28px;
            max-width: 550px;
            width: 100%;
          }
        }
        .time-block {
          width: 100%;
          text-align: right;
          margin-top: 57px;
          padding-right: 50px;

          .text {
            color: transparent;
            -webkit-text-stroke: 2px #b136ff;
            font-weight: 700;
            font-size: 85px;
            line-height: 0.8;
          }

          .when {
            max-width: 220px;
            display: inline-block;
            margin-right: 50px;
            text-align: left;
            font-size: @26px;
            font-weight: 800;
            line-height: 1.6;
            vertical-align: bottom;

            span {
              display: block;
              margin-bottom: 5px;
            }

            text {
              stroke-width: .25;
            }
          }
        }
        .pr-4-cont > div {
          &:first-of-type {
            padding-top: 9px;
            text-align: right;
            margin-right: 30px;
            max-width: 350px;
            width: 100%;
          }
          &:nth-of-type(2) {
            //max-width: 585px;
            margin-right: 50px;
            max-width: 550px;
            width: 100%;

            //.lg(margin, 0);
          }
        }
        .button-block {
          display: inline-block;
          //margin-top: 70px;
          //margin-left: 40px;
        }
      }
    }
  }
  .music {
    background: url("@{pathToImg}bg-3.jpg") no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 130px;

    &:after {
      content: '';
      width: 100%;
      display: table;
      clear: both;
    }

    .title-block {
      bottom: inherit;
      top: 339px;
    }

    h2 {
      line-height: 1;
    }

    .width {
      padding-top: 130px;
    }

    .msc {
      position: relative;
    }

    .msc-block {
      .more {
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        left: -72px;
        margin-bottom: 102px;

        .title {
          &:extend(main .music .description h2);
        }
      }
      .rock-block {
        border: 2px solid #b136ff;
        max-width: 1050px;
        float: right;
        width: 100%;
      }
      .rock {
        background: #fff;
        text-align: right;
        position: relative;
        top: -28px;
        padding: 60px 50px 68px 70px;
        right: 28px;

        h2 {
          &:extend(main .music .description h2);
          text-align: left;
        }

        img {
          margin-top: -60px;
          max-width: 100%;
        }

      }
      p {
        &:extend(main .program .pr .explain);
      }
    }

    .description {
      display: inline-block;
      background: #fff;
      padding: 53px 96px 53px 70px;
      margin-left: -23px;
      width: 44.8%;

      p {
        font-weight: 500;
        font-family: @second-font;
        color: #000;
        font-size: @20px;
      }

      h2 {
        &:extend(main .program .pr h2);
      }
    }
    .border {
      width: 61.3%;
      border: 2px solid #b136ff;
      position: absolute;
    }
    .video {
      &:extend(main .program .pr.pr-2 figure);
      left: auto;
      border: none;
      margin: 0;
      position: relative;
      padding-bottom: 55.6%;
      height: 0;
      width: 100%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
      }
    }
    .msc-1 {
      position: relative;
      z-index: 10;
      margin-bottom: 424px;

      .border {
        margin-bottom: 130px;
        left: auto;
        right: 0;
        top: 118px;
      }

      .video {
        bottom: 30px;
        right: 30px;
      }
    }
    .msc-2 {
      margin-bottom: 270px;

      .border {
        top: -120px;
      }

      .video {
        top: 30px;
        right: 30px;
      }
      .description {
        float: right;
        padding: 62px 57px 62px 106px;
      }
      &:after {
        content: '';
        width: 100%;
        display: table;
        clear: both;
      }
    }
    .msc-3 {
      margin-bottom: 90px;

      .border {
        &:extend(main .music .msc-1 .border);
        top: -120px;
      }

      .video {
        &:extend(main .music .msc-1 .video);
      }
    }
  }
  .fair {
    background: url("@{pathToImg}bg-4.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 130px;

    .fair-block {
      width: 100%;
    }

    .title-block {
      bottom: inherit;
      top: 274px;
    }

    .width {
      padding-top: 108px;
    }

    h3 {
      font-weight: 800;
      font-size: @42px;
      line-height: 1.4;
    }
    .prod {
      &:extend(.flex);
      margin-right: @offset;
      width: 100%;

      &.prod-1 {
        margin-top: 70px;
        margin-bottom: 130px;

        .description {
          width: 100%;
          max-width: 402px;
          margin-right: 20px;

          //@media screen and (max-width: 600px) {
          //  font-size: 12px;
          //}
        }

        .slider-block {
          &:extend(main .program .pr.pr-3 figure);
          left: 30px;

          //width: 50%;
          width: 49%;
          max-width: 520px;
          position: relative;

          //.lg(max-width, 400px);

          //@media screen and (max-width: 997px) {
          //  width: 100%;
          //  max-width: none;
          //  margin-bottom: 80px;
          //}

          .slider-products {
            width: 100%;
            //width: 50%;
            //max-width: 520px;
            position: relative;
            top: 28px;
            right: 28px;

            .slick-list {
              //max-width: 520px;
              width: 100%;
            }
          }
          .slick-track {
            width: 100%;

            img {
              width: 100%;
            }
          }
          .arrows {
            &:extend(main .members .arrows);
            right: auto;
            left: 0;
            bottom: -62px;

            div {
              &:extend(main .members .arrows div);
              font-size: 38px;
              width: 60px;
              height: 60px;
              text-align: center;
              padding: 20px 0;
              background: #b136ff;
              color: #fef0ff;

              &:first-of-type {
                border-right: 1px solid #d67fff;
              }
            }
          }
        }
      }

      &.prod-2 {
        .description {
          max-width: 430px;
          width: 100%;
          text-align: right;
        }
        figure {
          &:extend(main .program .pr.pr-3 figure);
          margin-left: 30px;
          margin-right: 50px;
          left: auto;

          img {
            position: relative;
            bottom: 28px;
            left: 28px;
            max-width: 520px;
            width: 100%;
          }
        }
      }

      .description {
        .title {
          font-weight: 700;
          font-size: @26px;
          line-height: 1.5;
          margin-bottom: 17px;
        }
        p {
          font-size: @20px;
          font-family: @second-font;
          line-height: 1.5;
          font-weight: 500;

          &:first-of-type {
            margin-bottom: 19px;
          }
        }
      }
    }
  }
  .tickets {
    .block-slider {
      position: relative;
    }
    .item {
      padding-bottom: 89px;

      &.standart {
        background: url("@{pathToImg}ticket-1.jpg") no-repeat center;
        background-size: cover;
      }
      &.comfort {
        background: url("@{pathToImg}ticket-2.jpg") no-repeat center;
        background-size: cover;
      }
      &.premium {
        background: url("@{pathToImg}ticket-3.jpg") no-repeat center;
        background-size: cover;
      }
      &.vip {
        background: url("@{pathToImg}ticket-4.jpg") no-repeat center;
        background-size: cover;
      }
      .width {
        padding-top: 400px;

        .title-block {
          top: 360px;
        }
      }
      .ticket-block {
        &:extend(.flex);
        align-items: flex-start;
        justify-content: flex-start;

        .name {
          max-width: 250px;
          width: 250px;
          margin-right: 70px;
        }

        .title {
          font-size: @48px;
          font-weight: 800;
          margin-bottom: 7px;
        }
        .sub {
          font-size: @18px;
          font-weight: 700;
          margin-bottom: 46px;
        }
        .places {
          font-style: italic;
          font-size: @18px;
          font-weight: 300;
          margin-bottom: 158px;

          div {
            &:not(:last-of-type) {
              margin-bottom: 8px;
            }
          }

          span {
            font-weight: 700;
          }
        }
        .button-block {
          max-width: 206px;
        }
        .description {
          max-width: 500px;

          .price {
            margin-bottom: 6px;

            span {
              font-weight: 800;

              &:first-of-type {
                font-size: @48px;
              }
              &:last-of-type {
                font-size: @18px;
              }
            }
          }
          .list {
            min-height: 270px;

            div {
              margin-bottom: 20px;
              font-size: @18px;
              font-weight: 700;
            }
            li {
              font-size: @20px;
              font-family: @second-font;
              font-weight: 500;
              line-height: 1.3;

              &:before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                background: url("@{pathToImg}mark.png") no-repeat center;
                background-size: contain;
                margin-right: 10px;
                vertical-align: middle;
              }
              &:not(:last-of-type) {
                margin-bottom: 9px;
              }
            }
          }
        }
      }
    }
    .move {
      position: absolute;
      top: 389px;
      right: 0;
      width: 100%;

      .width {
        padding: 0;
        text-align: right;
      }

      .custom_paging {
        position: inherit;
      }
      .arrows {
        margin-left: auto;
      }
      .dots {
        margin-bottom: 22px;
      }
    }
  }
  .journalists {
    background: url("@{pathToImg}bg-5.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 130px;
    margin-top: -41px;

    h2 {
      &:extend(main .program .pr h2);
      max-width: 474px;
      margin-bottom: 66px;
      line-height: 1.4;
    }

    .width {
      padding-top: 103px;
    }

    .title-block {
      top: 111px;

      svg {
        height: 602px;
      }
    }

    .explain {
      font-size: @22px;
      font-weight: 700;
      margin-bottom: 83px;
    }

    .text-block {
      &:extend(.flex);
      align-items: flex-start;

      .journ-1 {
        max-width: 550px;
        line-height: 1.5;

        span {
          font-size: @18px;
          font-weight: 300;
          font-style: italic;
        }
      }
      .journ-2 {
        .item {
          &:extend(.flex);
          justify-content: flex-start;
          align-items: flex-start;

          &:first-of-type {
            margin-bottom: 60px;
          }

          &:nth-of-type(2) {
            margin-bottom: 46px;
          }

          h3 {
            font-size: @26px;
            font-weight: 700;
            line-height: 1.1;
            margin-bottom: 10px;
            margin-top: -5px;
          }

          figure {
            border: 2px solid @second-color;
            width: 100px;
            height: 100px;
            margin-right: 40px;

            img {
              position: relative;
              bottom: 42px;
              right: 43px;
            }
          }
        }
        .descriptions {
           span {
            font-size: @16px;
             font-style: italic;
             font-weight: 400;
          }
        }
        .subscribers {
          color: #ff0000;

          i {
            font-size: @28px;
            vertical-align: middle;
          }
          span {
            vertical-align: middle;
            font-weight: 600;
          }
        }
      }
      .form {
        margin-top: 35px;

        input {
          width: 470px;
          padding-right: 175px;
        }

        .button {
          position: absolute;
          width: 150px;
          right: 88px;
        }
      }
    }
  }
  .partners {
    background: url("@{pathToImg}bg-6.jpg") no-repeat center;
    padding-bottom: 77px;
    background-size: cover;

    .title-block {
      top: 70px;
    }

    .width {
      padding-top: 133px;
    }
    .block-partners {
      max-width: 1005px;
      margin: 0 auto;

      .partn {
        &:extend(.flex);
        justify-content: center;

        .item {
          max-width: 215px;
          text-align: center;
          margin: 0 43px;

          .description {
            opacity: 0;

            span {
              display: block;

              &:first-of-type {
                font-size: @18px;
                font-weight: 600;
                line-height: 1.3;
                margin-bottom: 6px;
              }
              &:last-of-type {
                font-size: @16px;
                font-weight: 300;
                color: #8a8a8a;
              }
            }
          }

          .logo {
            display: inline-block;
            margin-bottom: 27px;
          }

          &.ya {
            .logo {
              background: url("@{pathToImg}yumianime.png") no-repeat center;
              background-size: contain;
              width: 120px;
              height: 113px;
            }
            &:hover {
              .logo {
                background: url("@{pathToImg}yumianime-hover.png") no-repeat center;
                background-size: contain;
              }
            }
          }
          &.sr {
            .logo {
              background: url("@{pathToImg}sr.png") no-repeat center;
              background-size: contain;
              width: 120px;
              height: 113px;
            }
            &:hover {
              .logo {
                background: url("@{pathToImg}sr-hover.png") no-repeat center;
                background-size: contain;
              }
            }
          }
          &.jb {
            .logo {
              background: url("@{pathToImg}j-by.png") no-repeat center;
              background-size: contain;
              width: 120px;
              height: 120px;
            }
            &:hover {
              .logo {
                background: url("@{pathToImg}j-by-hover.png") no-repeat center;
                background-size: contain;
              }
            }
          }
          &.ad {
            .logo {
              background: url("@{pathToImg}anidub.png") no-repeat center;
              background-size: contain;
              width: 120px;
              height: 109px;
            }
            &:hover {
              .logo {
                background: url("@{pathToImg}anidub-hover.png") no-repeat center;
                background-size: contain;
              }
            }
          }
          &.za {
            .logo {
              background: url("@{pathToImg}arena.png") no-repeat center;
              background-size: contain;
              width: 127px;
              height: 93px;
            }
            &:hover {
              .logo {
                background: url("@{pathToImg}arena-hover.png") no-repeat center;
                background-size: contain;
              }
            }
          }
          &:hover {
            .description {
              opacity: 1;
            }
          }
        }
        &.partn-1 {
          margin-bottom: 38px;
          align-items: flex-start;
        }
      }
    }
  }
  .thanks {
    background: url("@{pathToImg}bg-7.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 112px;
    padding-bottom: 122px;

    h3 {
      font-size: @42px;
      font-weight: 800;
      text-align: center;
      margin-bottom: 68px;
    }

    .item {
      &:extend(.flex);
      align-items: flex-start;
      justify-content: flex-start;

      &:first-of-type {
        margin-bottom: 100px;

        .text {
          max-width: 435px;
        }
      }

      &:nth-of-type(2) {
       margin-left: 220px;
        .lg(margin-left, 0);

        .text {
          max-width: 520px;
        }
      }

      figure {
        &:extend(main .fair .prod.prod-2 figure);
        margin-right: 80px;
        .lg(margin-right, 60px);

        img {
          position: relative;
          top: 28px;
          left: 28px;
        }
      }

      .title {
        font-weight: 800;
        font-size: @48px;
        color: @second-color;
        line-height: 1.0;
        margin-bottom: 47px;
        margin-left: -122px;
        position: relative;
      }

      .text {
        span {
          font-size: @18px;
          font-style: italic;
          font-weight: 600;
        }
        p {
          font-size: @20px;
          font-family: @second-font;
          font-weight: 500;
          line-height: 1.4;
          margin-top: 25px;

          a {
            text-decoration: underline;
          }
        }
      }
      .description {
        margin-top: 97px;
      }
    }
  }
}
.rotate {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
footer {
  background: url("@{pathToImg}bg-6.jpg") no-repeat center;
  background-size: cover;

  .info {
    &:extend(.flex);
    align-items: flex-start;
    padding-top: 67px;
    padding-bottom: 57px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .sub {
    background: #000;
    color: #494848;
    padding-top: 27px;
    padding-bottom: 25px;

    .width {
      &:extend(.flex);
    }

    a {
      color: #494848;
      font-size: @14px;
      line-height: 1.4;
    }
  }

  .item {
    &:extend(.flex);
    position: relative;

    .title {
      font-weight: 800;
      font-size: 1.375em;
      margin-left: -48px;
      width: 220px;
      text-align: right;
      position: absolute;
      left: -56px;
      top: 98px;
      .rotate();
    }
    .cont {
      font-weight: 300;
      padding-left: 66px;

      a {
        display: block;
        font-size: @18px;

        &:not(:last-of-type) {
          margin-bottom: 17px;
        }
      }

      .text-success {
        font-size: @13px;
        color: #8a8a8a;
        font-weight: 500;
        margin-top: 42px;
        display: none;
      }
    }
  }
  .form {
    position: relative;

    input {
      margin-bottom: 18px;
      width: 100%;
      font-style: italic;
    }
    textarea {
      height: 160px;
      font-family: @second-font;
      font-style: italic;
    }
    .button {
      max-width: 150px;
      position: absolute;
      right: 20px;
      bottom: -20px;
      font-size: @18px;
    }
  }
}
.form {
  position: relative;

  input {
    background: transparent;
    border: 2px solid @second-color;
    outline: none;
    color: #fff;
    font-family: @second-font;
    font-size: @20px;
    font-weight: 500;
    padding: 7px 20px 9px 20px;
    font-style: italic;

    &[placeholder] {
      color: #fff;
    }
  }
  input::-webkit-input-placeholder {
    color: #fff;
  }
  input::-moz-placeholder {
    color: #fff;
  }
  input:-moz-placeholder {
    color: #fff;
  }
  input:-ms-input-placeholder {
    color: #fff;
  }

  textarea::-webkit-input-placeholder {
    color: #fff;
    font-family: @second-font;
  }
  textarea::-moz-placeholder {
    color: #fff;
    font-family: @second-font;
  }
  textarea:-moz-placeholder {
    color: #fff;
    font-family: @second-font;
  }
  textarea:-ms-input-placeholder {
    color: #fff;
    font-family: @second-font;
  }

  .button {
    &:extend(.button-block .button);
    font-weight: 400;
  }

  textarea {
    border: 2px solid @second-color;
    outline: none;
    color: #fff;
    font-family: @second-font;
    font-size: @20px;
    background: transparent;
    padding: 7px 20px 9px 20px;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    font-style: italic;
  }
}
.form-cont {
  input::-webkit-input-placeholder {
    color: #5d4666;
    font-family: @second-font;
  }
  input::-moz-placeholder {
    color: #5d4666;
    font-family: @second-font;
  }
  input:-moz-placeholder {
    color: #5d4666;
    font-family: @second-font;
  }
  input:-ms-input-placeholder {
    color: #5d4666;
    font-family: @second-font;
  }

  input {
    font-weight: 500;
    font-style: italic;;
    color: @button-color;
    font-family: @second-font;
    outline: none;
    font-size: @20px;
    border: none;
    border-bottom: 2px solid @second-color;
    background: transparent;
    width: 100%;
    padding: 0 30px 4px;
  }

  .block-input, .form-group {
    position: relative;
    margin-bottom: 22px;

    i {
      color: #5d4666;
      position: absolute;
      font-size: @18px;
      width: 20px;

      &:first-of-type {
        left: 0;
      }
      &:last-of-type {
        right: 0;
      }
    }

    &.has-error {
      i {
        color: @error-color;
      }
      input {
        border-bottom: 2px solid @error-color;
      }
    }

    &.focus {
      i {
        color: @button-color;
      }
    }
  }

  .btn {
    background: @second-color;
    font-size: @18px;
    font-weight: 400;
    width: 150px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 11px;
    cursor: pointer;
    position: absolute;
    bottom: -23px;
    right: 30px;
  }
}
#error-block {
  margin-bottom: 56px;
  margin-left: 31px;
  display: none;
  background: #fff;
  border: 2px solid @error-color;
  font-size: @13px;
  color: @error-color;
  font-weight: 500;
  border-radius: 37px;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 320px;
  line-height: 1.7;
  padding: 15px 27px 14px;
  z-index: 1000;

  strong {
    font-weight: 600;
  }
  span {
    font-style: italic;
  }
  .tail {
    width: 26px;
    height: 14px;
    position: absolute;
    bottom: 0;
    background: url("@{pathToImg}tail-right.png") no-repeat center;
    background-size: contain;

    &.right {
      right: -9px;
    }

    &.left {
      background: url("@{pathToImg}tail-left.png") no-repeat center;
      background-size: contain;
      left: -9px;
    }
  }
}
.form-group {
  &.has-error {
    &:before {
      content: "\F028";
      color: @error-color;
      font: normal normal normal 24px/1 "Material Design Icons";
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1.25em;
      position: absolute;
      left: -34px;
      top: 5px;
    }

    .help-block {
      &:extend(#error-block);
      top: -33px;
      right: 100%;
      left: inherit;
      margin: 0;
      white-space: nowrap;
      margin-right: 44px;

      &:after {
        content: '';
        &:extend(#error-block .tail);
        right: -11px;
      }
    }

    &:hover {
      .help-block {
        display: table;
      }
    }
  }
}
#support {
  i {
    position: absolute;
    left: -36px;
    top: 10px;
  }
}
#remind {
  i {
    margin-left: 12px;
  }
}
.form {
  .block-input {
    position: relative;

    i {
      display: none;
    }
  }
}
.form {
  .block-input {
    &.has-error {
      position: relative;

      i {
        color: @error-color;
        font-size: @20px;
        display: inline-block;
        position: relative;
      }
      input {
        border: 2px solid @error-color;
      }
      textarea {
        border: 2px solid @error-color;
        font-family: @second-font;
        font-style: italic;
      }
    }
  }
}
.popup {
  background: rgba(0, 0, 0, 0.71);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3000;
  display: none;

  &.enter {
    .block-form {
      max-width: 580px;

      .form-cont {
        width: 460px;
        padding: 69px 80px;
      }
    }

    .sub {
      margin-top: 28px;

      div {
        &:extend(.flex);
        font-size: @16px;
        color: #5d4666;
        font-style: italic;
        cursor: pointer;
        margin-bottom: 7px;

        i {
          font-size: @20px;

          &:last-of-type {
            font-size: @30px;
          }
        }

        span {
          border-bottom: 1px dashed #5d4666;
        }
      }
      p {
        color: #5d4666;
        font-size: @13px;
        font-weight: 400;
        line-height: 1.7;
        display: none;

        span {
          font-weight: 600;
        }
      }
    }
  }

  .width {
    &:extend(.flex);
    align-items: center;
    justify-content: center;
    height: 100vh;

    .block-form {
      border: 2px solid @second-color;
    }

    .form-popup {
      &:extend(.flex);
      background: #fff;
      align-items: stretch;
      position: relative;
      top: 30px;
      left: 30px;

      .title {
        background: @button-color;
        max-width: 120px;
        &:extend(.flex);
        justify-content: center;
        user-select: none;

        div {
          color: transparent;
          -webkit-text-stroke: 1.5px @second-color;
          font-size: @48px;
          font-weight: 700;
          text-align: center;
          .rotate();
          display: inline-block;
        }
      }

      .form-cont {
        position: relative;

        h3 {
          font-size: @30px;
          color: @button-color;
          font-weight: 800;
          margin-bottom: 37px;
        }
      }
    }
  }
  &.buy-ticket {
    .block-form {
      max-width: 1140px;
      width: 100%;
      margin-top: -170px;
    }

    form {
      &:extend(.flex);
      align-items: stretch;
      justify-content: flex-start;
    }

    .form-cont {
      .description {
        background: #f0d7ff;
        max-width: 520px;
        width: 100%;

        .about {
          background: url("@{pathToImg}ticket.jpg") no-repeat center;
          background-size: cover;
          padding: 55px 70px 65px;

          .header {
            margin-bottom: 69px;

            .logo {
              margin-right: 13px;
            }
            div {
              display: inline-block;
              vertical-align: top;
              font-size: @48px;
              font-weight: 800;

              &:not(.logo) {
                margin-top: -11px;
              }
            }
          }
          .date {
            &:extend(.flex);
            align-items: flex-start;

            span {
              font-size: @24px;
              font-weight: 800;
            }
            p {
              font-size: @16px;
              color: #a194a8;
              font-weight: 400;
              line-height: 1.5;
              margin-top: 11px;
            }
          }
        }
        .choose {
          position: relative;
          padding: 50px 70px;

          .price {
            background: @second-color;
            position: absolute;
            top: -29px;
            right: 67px;
            width: 160px;
            text-align: center;
            padding: 9px 0 11px;
            border-radius: 31px;

            .int {
              font-size: @30px;
              font-weight: 800;
              margin-left: 10px;
            }
            span {
              &:not(.int) {
                font-size: @20px;
                font-weight: 300;
              }
            }
          }
          .text {
            color: #5d4666;
            font-size: @13px;
            font-weight: 400;
            margin-top: 23px;

            span {
              font-weight: 600;
            }

            p {
              line-height: 1.6;

              &:not(.active) {
                display: none;
              }
            }
          }
        }
      }
      .client-data {
        padding: 68px 75px 65px;

        label {
          overflow: hidden;
          position: relative;
          display: block;
          margin-top: 43px;
          margin-bottom: 20px;
        }

        .label {
          font-size: @13px;
          color: #5d4666;
          font-weight: 400;
        }
        .sub {
          color: #a194a8;
          font-size: @13px;
          font-weight: 400;
          line-height: 1.6;

          a {
            font-weight: 600;
            color: #a194a8;

            &:hover {
              text-decoration: underline;
            }
          }
        }
        h4 {
          font-size: @18px;
          font-weight: 800;
          color: #5d4666;
          margin-top: 52px;
          margin-bottom: 18px;
        }
        .checkbox-custom {
          width: 15px;
          height: 15px;
          color: #5d4666;
          margin-right: 8px;

          &:before {
            content: "\F131";
          }
        }
        .checkbox {
          position: absolute;
          left: -200px;

          &:checked {
            & + .checkbox-custom {
              &:before {
                content: "\F135";
            }
            }
          }
        }
      }
      .btn {
        width: 250px;
      }
    }
  }
  &.message {
    .block-message {
      &:extend(.popup .width .block-form);
      max-width: 470px;
      color: @button-color;

      .text-success {
        font-size: @18px;
        font-weight: 800;
        margin-bottom: 16px;
      }

      .text {
        &:extend(.popup .width .form-popup);
        display: block;
        padding: 62px 50px 78px 60px;
        position: relative;

        p {
          font-size: @13px;
          font-weight: 500;
          line-height: 1.5;

          &:first-of-type {
            margin-bottom: 11px;
          }
        }
      }
      .btn {
        &:extend(.form-cont .btn);
        max-width: 90px;
        color: #fff;
      }
    }
  }
  &.pay-success {
    display: flex;
    color: #5d4666;

    .form-cont {
      width: 100%;
      max-width: 1020px;
      padding: 66px 95px 150px 100px;

      .success {
        font-size: @30px;
        font-weight: 800;
        color: @button-color;
        margin-bottom: 103px;
      }

      .thank {
        font-size: @19px;
        font-weight: 800;
        color: @button-color;
        margin-top: auto;
      }

      .box {
        &:extend(.flex);
        align-items: stretch;

        .part {
          &.left {
            width: 65.5%;
            &:extend(.flex);
            flex-wrap: wrap;
            align-items: flex-start;

            p {
              font-weight: 500;
              max-width: 360px;

              &:first-of-type {
                line-height: 1.4;
              }
              &:nth-of-type(2) {
                line-height: 1.9;
                margin-top: -17px;
              }

              span {
                font-size: @22px;
                font-family: @second-font;
                color: @button-color;
                font-style: italic;
                font-weight: 600;
              }
            }
          }
          &.right {
            width: 34.5%;
            font-size: @14px;

            p {
              line-height: 1.9;
            }
            span {
              font-weight: 600;
              font-family: @main-font;
            }
            a {
              color: @button-color;
              display: block;
              font-weight: 600;
              line-height: 2;

              i {
                &:before {
                  margin-right: 12px;
                  display: inline-block;
                }
              }

              &:nth-last-of-type(1) {
                text-decoration: underline;
              }
              &:nth-last-of-type(2) {
                text-decoration: underline;
              }
            }
            .contacts {
              margin-top: 35px;
            }
          }
        }
      }
      #buy-more {
        width: 340px;
        color: #fff;
      }
    }
  }
}
#tickets {
  position: relative;

  .sold-out {
    color: #de4343;
    font-size: 13px;
    font-weight: 600;
  }

  .active {
    cursor: pointer;
    font-size: @24px;
    color: @button-color;
    font-weight: 800;
    position: relative;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid @second-color;
    outline: none;
    padding: 0 7px 6px 0;

    &:after {
      content: '';
      background: url("@{pathToImg}arrow-down.png") no-repeat center;
      background-size: contain;
      width: 12px;
      height: 6px;
      margin-top: 16px;
      float: right;
    }

    .small {
      font-weight: 400;
      font-size: 14px;
    }

    .rub {
      display: none;
    }
  }

  .tickets-list {
    background: #fff;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    display: none;

    li {
      cursor: pointer;
      font-size: @16px;
      font-weight: 400;
      color: @button-color;
      padding: 7px 16px 8px;
      border: 2px solid transparent;

      &:not(.disabled):hover {
        border: 2px solid @second-color;
      }

      .rub {
        float: right;
        font-weight: 800;
      }

      &.disabled {
        cursor: default;
        background: #ccc;
      }
    }
  }
}
.arrows {
  &:extend(.flex);
  width: 119px;
  margin-left: auto;

  div {
    &:extend(main .members .arrows div);

    &.next {
      margin-right: 5px;
    }
  }
}
.button-block {
  max-width: 180px;
  border: 2px solid @second-color;

  .button {
    background: #fff;
    color: @button-color;
    font-size: @18px;
    padding: 11px 15px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    right: 10px;
    bottom: 10px;
  }
}
svg {
  position: relative;
  z-index: 10;
  width: 100%;
}
text {
  font-size: 12px;
  font-weight: 800;
  stroke: #b136ff;
  stroke-width: .20;
  fill: none;
  text-transform: uppercase;
}
.menu-open {
  height: 100vh;
  position: fixed;
  z-index: 3000;
  width: 100%;
  display: none;

  .width {
    position: relative;
    padding: 0 @offset;
  }

  #map_canvas {
    height: 100vh;
  }

  .logo {
    position: absolute;
    z-index: 3001;
    top: 55px;
  }
  .items {
    position: absolute;
    z-index: 3001;
    right: 0;
    width: 570px;
    background: #07000b;
    height: 100vh;
    padding-top: 50px;
    padding-right: @offset;

    .list {
      display: inline-block;
      margin-top: 73px;
      float: right;

      ul {
        padding-right: 24px;
        margin-bottom: 59px;
      }
    }

    li {
      font-size: @48px;
      font-weight: 700;

      &:not(:last-of-type) {
        margin-bottom: 13px;
      }

      &:hover {
        a {
          color: transparent;
          -webkit-text-stroke: 1.5px #fff;
        }
      }
    }

    .cross {
      font-size: @48px;
      position: absolute;
      cursor: pointer;
      right: 11px;
    }

    &:after {
      content: '';
      display: block;
      width: 2000px;
      bottom: 0;
      background: #07000b;
      left: 100%;
      top: 0;
      position: absolute;
    }

    .sub {
      &:extend(.flex);
      clear: both;
      justify-content: space-between;

      .enter {
        &:extend(header .info .enter);
        font-size: @18px;
        margin: 0;
      }

      a {
        font-size: @18px;
      }
    }
    .when {
      width: 370px;
      position: absolute;
      border: 2px solid @second-color;
      top: 160px;
      left: -270px;

      .wh {
        background: #fff;
        color: #1c002d;
        padding: 75px 62px 102px;
        position: relative;
        right: 30px;
        bottom: 30px;

        span {
          display: block;

          &:not(:last-of-type) {
            margin-bottom: 10px;
          }
        }
      }

      .title {
        font-size: @36px;
        font-weight: 800;
        margin-bottom: 14px;

        &:nth-of-type(2) {
          margin-top: 42px;
        }
      }

    }
  }
}
.members .slick-slide {
  height: 753px;
}
